body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.dashboard-wrapper{
  display: flex;
  flex-direction: row;
}
.parent-wrapper{
  display: flex;
  flex-direction: row;
}
.profile-wrapper{
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 50%;
  margin: 3%;
}
.user-info{
border: solid;
border-color:rgb(191, 199, 212);
height: 300px;
margin-bottom: 10%;
}
.bio{
border: solid;
border-color:rgb(191, 199, 212);
height: 450px;
}
.newsfeed-wrapper{
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-top: 3%;
  margin-right: 5%;
}
.post{
  border: solid;
  border-color:rgb(191, 199, 212);
}
.rec-wrapper{
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 50%;
  margin: 2%;
  margin-top: 3%;
}
.recommended{
   border: solid;
  border-color:rgb(191, 199, 212);
  height: 45%;
}
.row{
  display: flex;
  flex-direction: row;
}
