body {
  background-color: white;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.dashboard-wrapper{
  display: flex;
  flex-direction: row;
}
h5{
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.otherUser{
  border-top: 1px solid rgb(191, 199, 212);
}
.home {
  text-align: center;
  width: 100px;
  border: .5px solid rgb(191, 199, 212);
  margin-left: 30px;
 
}
.notifications{
  text-align: center;
  width: 120px;
  border: .5px solid rgb(191, 199, 212);
  
}
.messages {
  text-align: center;
  width: 100px;
  border: .5px solid rgb(191, 199, 212);
  
}
.Search {
  margin-left: 40%;
  border-radius: 25px;
  border: 2px solid #02dbf8;
  padding: 20px; 
  width: 300px;
  height: 10px; 
}
.Tweet {
  margin-left: 10%;
  margin-left: 10%;
  border-radius: 25px;
  border: 2px solid #02dbf8;
  padding: 20px; 
  width: 100px;
  height: 10px; 
}
.parent-wrapper{
  display: flex;
  flex-direction: row;
}
.profile-wrapper{
  display: flex;
  flex-direction: column;
  
  width: 25%;
  height: 50%;
  margin: 3%;
}
.user-info{
border: solid;
background-color: rgb(8, 72, 247);
border-color:rgb(191, 199, 212);
border-radius: 3px;
height: 300px;
margin-bottom: 10%;
}
.user-img{
  position: relative;
  z-index: 3;
  border: 5px solid rgb(255, 255, 255);
  margin-top: 30px;
  margin-left: 20px;
  border-radius: 100px;
 
}
.bio{
border: solid;
border-color:rgb(191, 199, 212);
border-radius: 3px;
height: 450px;
}
.newsfeed-wrapper{
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-top: 3%;
  margin-right: 5%;
}
.post{
  border: solid;
  border-color:rgb(191, 199, 212);
  border-radius: 3px;
}
.newsfeed-row{
  padding: 2%;
}
.icon{
  width: 40px;
  height: 40px;
  background-color: rgb(168, 57, 29);
  border-radius: 3px;
  margin-right: 5px;
  margin-left: 5px;
}
.rec-wrapper{
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 50%;
  margin-right: 2%;
  margin-top: 3%;
}
.recommended{
   border: solid;
  border-color:rgb(191, 199, 212);
  border-radius: 3px;
  height: 40%;
}
.newsfeed-row{
  display: flex;
  flex-direction: row;
}
.row{
  display: flex;
  flex-direction: row;
}
.row1{
  border-top: solid;
  height: 52%;
  border-color:rgb(255, 255, 255);
  background-color:rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  margin-top: -10%;
  padding-top: 8px;

}
h4{
  margin-left: 10px;
  margin-top: 50px;
}